h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    color: crimson;
}
#addbutton {
    margin-top: 20px;
}
#checkbox{
    margin-left: 30px;

}
#taskintable{
    max-width: 300px;
}
#Edit{
width: 60px;

}
#Delete{
    width: 60px;
}
#Save{
    width: 60px;
}
.edit {
    border: solid 2px red;
}

.not-edit {
    border: none;
}

.crossed {
    text-decoration: line-through;
}